html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.section-top{
    margin:20px;

}
.product-item{
    height: 220px;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    position: relative;
    margin-left: 80px;
    padding: 5px;
    text-align: center;
}

.add-to-cart-btn{
    position: absolute;
    bottom: 10px;
    left: 60px;
}